@charset "utf-8";
/* CSS Document */
html, body {
  min-height: 100%;
}
.navbar-inverse {
	padding:top 40px;
	background-color: #0066CC;
	border-color: #06C;
	position: fixed;
	width: 100%;
	top: 0;
	color:#ffffff
	font-size: 45px;
	border-bottom: none;
    z-index: 999;
}
.navbar-inverse .navbar-brand {
  color:#0066CC;
}

.navbar-inverse .navbar-nav > li > a {
  color: #ffffff;
}
section{
	width: 1200px;
    margin: auto;
	height: 300px;
}
h1 {
	padding-top:40px;
	color: #4699B7;
	font-size: 20px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
h2 {
  color:#4699B7;
  font-size:15px;
  font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}

p {
	padding-bottom::30px;
}

img {
  border:0px;
  margin-top:20px;
  margin-left:auto;
  margin-right:auto;
}

textarea{
	width:400px;
	height:100px;
	background-color: #fff;
	resize:none;
}

.comment-box{
	width:846px;
	padding: 20px;
	margin-bottom:4px;
	border-radius: 4px;
}
	/* Matthew Alston*/
